body{
    background-color:#000;
    color:#dedede;
}
h1, h2 {
    text-align: center;
}

#content {
    margin-top: 40px;
}
.remove-tweet,
.remove-tweet:hover {
    float: right;
    cursor: pointer;
    color: red;
    font-weight: bold;
}

.log-in{
    background-color:white;
    width:40%;
    margin:0 auto;
    padding:50px;
}